In [23]:
#The code below uses map() to find the mean of each list in numbers to create the list averages. Give it a test run to see what happens.
numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

def mean(num_list):
    return sum(num_list) / len(num_list)

averages = list(map(mean, numbers))
print(averages)

[57.0, 58.2, 50.6, 27.2]

In [22]:
#List are ordered, we can look up individual elements by their index, we can look elements from a list just like we have done below.

students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner']
print(students[0])
print(students[1])
print(students[2])

sam
pam
rocky

In [24]:
#Sets : Sets support the in operator the same as lists do. You can add elements to sets using the add method, and remove elements using the pop method, similar to lists. Although, when you pop an element from a set, a random element is removed. Remember that sets, unlike lists, are unordered so there is no "last element".

fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)
print("watermelon" in fruit)  # check for element

print(fruit.pop())  # remove a random element
print(fruit)

False
{'banana', 'orange', 'apple', 'grapefruit', 'watermelon'}
True
banana
{'orange', 'apple', 'grapefruit', 'watermelon'}